@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}

/* Track (the part of the scrollbar that is always visible) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part */
  border-radius: 10px; /* Roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle when hovered */
}

/* Track (part behind the handle) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Roundness of the track */
}
